!!! 5
:plain
  <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
  <!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
  <!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%head
  %meta(charset = "utf-8")
  %meta(http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1")
  %title= "Cameron Chamberlain - Australian Character Animator"
  %meta(name = "description" content = "Portfolio for Cameron Chamberlain, Character Animator from Canberra Australia")
  %meta(name = "author" content = "Cameron Chamberlain")
  %meta(name = "viewport" content = "width=device-width, initial-scale=1.0")
  %link(rel = "stylesheet" href = "css/main.css")
  %script(src = "js/libs/modernizr.custom.57237.js")

%body.navhome(lang="en")
  / Navbar
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        / btn-navbar is used as the toggle for collapsed navbar content
        %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        / Be sure to leave the brand out there if you want it shown
        %a.brand(href="index.html")
          Cameron Chamberlain
 
        <!-- Everything you want hidden at 940px or less, place within here -->
        .nav-collapse
          %ul.nav
            %li.active
              %a#navbiography(href="biography.html")
                %i.icon-list-alt
                Biography
            %li
              %a#navprojects(href="projects.html")
                %i.icon-film
                Projects
            %li
              %a#navdrawing(href="drawing.html")
                %i.icon-pencil
                Drawing
  #wrap
    %section.container#main(role="main")
      %h2 Biography
      %table.table.table-condensed.table-bordered
        %thead
          %tr
            %td Year
            %td Achievement
            %td Location
        %tbody
          %tr
            %td 2011
            %td Bachelor of Visual Arts (Honours), First Class
            %td <a href="http://www.anu.edu.au/">Australian National University</a> 
          %tr
            %td 2010
            %td Bachelor of Visual Arts (Digital Media)
            %td <a href="http://www.anu.edu.au/">Australian National University</a>
          %tr
            %td 2007
            %td Cert IV in Animation for Games and Film
            %td <a href="http://www.aie.edu.au/">Academy of Interactive Entertainment</a>
          %tr
            %td 2006
            %td Year 12 Certificate, 89.95UAI
            %td <a href="http://en.wikipedia.org/wiki/Copland_College">Copland College</a>
          %tr
            %td 1989
            %td Born
            %td <a href="http://g.co/maps/38vpx">Canberra, Australian Capital Territory</a>
      %hr
      %h2 Exhibitions
      %table.table.table-condensed.table-bordered
        %thead
          %tr
            %td Year
            %td Exhibition
            %td Location
            %td Artwork
        %tbody
          %tr
            %td 2011
            %td Graduate Exhibition
            %td ANU School of Art
            %td Self Portrait in Geometry
          %tr
            %td 2011
            %td Graduate Showcase
            %td ARC Cinema
            %td Self Portrait in Geometry
          %tr
            %td 2011
            %td <a href="http://manyhandsart.com">Many Hands</a>
            %td Photospace ANU
            %td Grief
          %tr
            %td 2011
            %td <a href="http://the-riotact.com/hey-dad-can-you-pick-me-up-from-joshs-otherwise-its-like-two-buses/35773">Hey Dad &hellip; two buses</a>
            %td The Phoenix
            %td Jetpack
          %tr
            %td 2010
            %td <a href="http://www.dreamdamage.com/2010/12/the-chain-gang/">Chain Gang Exhibition</a>
            %td Exhibition Space at 131 City Walk
            %td Enclosure, Leaking
          %tr
            %td 2010
            %td Graduate Exhibition
            %td ANU School of Art
            %td Prometheus
          %tr
            %td 2010
            %td Graduate Showcase
            %td ARC Cinema
            %td Prometheus
          %tr
            %td 2010
            %td Project
            %td Smiths Alternative Bookshop
            %td Dugong
          %tr
            %td 2009
            %td Graduate Showcase
            %td ARC Cinema
            %td Manta
          %tr
            %td 2009
            %td <a href="http://www.bmefestival.com/">Beginning, Middle and End</a>
            %td School of Art Gallery
            %td Blanket Fortalice
          %tr
            %td 2009
            %td Old Parliament House
            %td
            %td Dugong
          %tr
            %td 2009
            %td Australian Journeys
            %td <a href="http://www.nma.gov.au/exhibitions/community/australian_digital_journeys/cameron_chamberlain/"> National Museum of Australia</a>
            %td Endurance
          %tr
            %td 2007
            %td Canberra Folk Festival
            %td
            %td Norseland Saga Episode 1
      %hr

      %h2 Résumé
      .row
        %a.btn.btn-primary.btn-large.span4.offset4(href="files/CameronChamberlain_Resume_Feb12.pdf")
          %i.icon-file.icon-white
          View Résumé  
    .push
  %footer.container#footer(onmouseover="this.style.backgroundColor='#FFF'" onmouseout="this.style.backgroundColor='#E9E2DB';")
    #hcard-Cameron-Chamberlain.vcard
      %span.fn Cameron Chamberlain
      .adr
        %span.locality Canberra
        %span.country-name Australia
      %br
      %a.email(name="contact" href="mailto:hi@cameronchamberlain.com") hi@cameronchamberlain.com
      %br
      .tel 0431 993 870
      %img.photo(src="http://30.media.tumblr.com/avatar_63d32ed86b04_64.png" alt="Cameron Chamberlain" )
      %span.org Cameron Chamberlain (Sole Trader)
      %span.title Character Animator
      %span.role Animator
  %script(src = "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  %script window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')
  %script(src = "js/libs/bootstrap-collapse.js")
            
  %script
    var _gaq=[['_setAccount','UA-2149395-2'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));

</html>