!!! 5
:plain
  <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
  <!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
  <!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%head
  %meta(charset = "utf-8")
  %meta(http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1")
  %title= "Cameron Chamberlain - Australian Character Animator"
  %meta(name = "description" content = "Portfolio for Cameron Chamberlain, Character Animator from Canberra Australia")
  %meta(name = "author" content = "Cameron Chamberlain")
  %meta(name = "viewport" content = "width=device-width, initial-scale=1.0")
  %link(rel = "stylesheet" href = "css/main.css")
  %script(src = "js/libs/modernizr.custom.57237.js")

%body.navhome(lang="en")
  / Navbar
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        / btn-navbar is used as the toggle for collapsed navbar content
        %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        / Be sure to leave the brand out there if you want it shown
        %a.brand(href="index.html")
          Cameron Chamberlain
 
        <!-- Everything you want hidden at 940px or less, place within here -->
        .nav-collapse
          %ul.nav
            %li
              %a#navbiography(href="biography.html")
                %i.icon-list-alt
                Biography
            %li
              %a#navprojects(href="projects.html")
                %i.icon-film
                Projects
            %li.active
              %a#navdrawing(href="drawing.html")
                %i.icon-pencil
                Drawing
  #wrap
    %section.container#main(role="main")
      .row
        #CarouselDrawing.carousel.slide.span10.offset1
          .carousel-inner
            .item.active
              %img{:alt => "", :src => "img/gallery/6428857909_8f3142f787_b.jpg"}
            .item
              %img{:alt => "", :src => "img/gallery/6428853789_ebc2ff8240_b.jpg"}
            .item
              %img{:alt => "", :src => "img/gallery/6327092316_68dcfd0d35_b.jpg"}
            .item
              %img{:alt => "", :src => "img/gallery/5409553314_da7d6ddb60_b.jpg"}
            .item
              %img{:alt => "", :src => "img/gallery/5148361270_54a9322505_b.jpg"}
            .item
              %img{:alt => "", :src => "img/gallery/5147758025_9c89674807_b.jpg"}
            .item
              %img{:alt => "", :src => "img/gallery/4976007876_f5d004636a_b.jpg"}
            .item
              %img{:alt => "", :src => "img/gallery/4506277935_032862982a_b.jpg"}
          %a.carousel-control.left(href="#CarouselDrawing" data-slide="prev")
            &lsaquo;
          %a.carousel-control.right(href="#CarouselDrawing" data-slide="next")
            &rsaquo;
    .push
  %footer.container#footer(onmouseover="this.style.backgroundColor='#FFF'" onmouseout="this.style.backgroundColor='#E9E2DB';")
    #hcard-Cameron-Chamberlain.vcard
      %span.fn Cameron Chamberlain
      .adr
        %span.locality Canberra
        %span.country-name Australia
      %br
      %a.email(name="contact" href="mailto:hi@cameronchamberlain.com") hi@cameronchamberlain.com
      %br
      .tel 0431 993 870
      %img.photo(src="http://30.media.tumblr.com/avatar_63d32ed86b04_64.png" alt="Cameron Chamberlain" )
      %span.org Cameron Chamberlain (Sole Trader)
      %span.title Character Animator
      %span.role Animator
          
  %script(src = "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  %script window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')
  %script(src = "js/libs/bootstrap-collapse.js")
  %script(src = "js/libs/bootstrap-carousel.js")
  %script(src = "js/libs/bootstrap-transition.js")
  
  %script(src = "js/plugins.js")
  %script(src = "js/script.js")
  
  %script
    $(document).ready(function() {
    
    $('.carousel').carousel({
    interval: 1000;
    });

    });
    var _gaq=[['_setAccount','UA-2149395-2'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));

</html>